{% if currencies|length > 1 %}
	<div class="currency-box">
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
			{# <div class="btn-group"> #}
				<button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
					{# <span class="drop-text">{{ text_currency }}:</span> #}
		            {% for currency in currencies %}
			            {% if currency.symbol_left and currency.code == code %}
			            	<span>{{ text_currency }}</span>
			            {% elseif currency.symbol_right and currency.code == code %}
			            	<span>{{ text_currency }}</span>
			            {% endif %}
		            {% endfor %}		            
		            {# <i class="fa fa-angle-down"></i> #}
       			</button>
				<ul class="currency-dropdown curr">
					{% for currency in currencies %}
						{% if currency.symbol_left %}
							<li>
								<button class="currency-select btn btn-link btn-block" type="button" name="{{ currency.code }}">{{ currency.symbol_left }} {{ currency.title }}</button>
							</li>
						{% else %}
							<li>
								<button class="currency-select btn btn-link btn-block" type="button" name="{{ currency.code }}">{{ currency.symbol_right }} {{ currency.title }}</button>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			{# </div> #}
			<input type="hidden" name="code" value="" />
			<input type="hidden" name="redirect" value="{{ redirect }}" />
		</form>
	</div>
{% endif %} 