{% if languages|length > 1 %}
	<div class="language-box">
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
			{# <div class="btn-group"> #}
				<button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
		          {% for language in languages %}
		          {% if language.code == code %} {# 
		          <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}"> #}
		          {# <span class="drop-text">{{ text_language }}:</span> #}
		          <span class="code">{{ text_language }}</span>
		          {# <i class="fa fa-angle-down"></i> #}
		      </button>
		      {% endif %}
  				{% endfor %}
				<ul class="language-dropdown lang">
					{% for language in languages %}
						<li>
							<button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button>
						</li>
					{% endfor %}
				</ul>
			{# </div> #}
			<input type="hidden" name="code" value="" />
			<input type="hidden" name="redirect" value="{{ redirect }}" />
		</form>
	</div>
{% endif %}